<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" data-provider-thread-count="3">
	<listeners>
		<listener class-name="com.rs.listeners.ListenerClass"></listener>
		<listener class-name="com.rs.listeners.MethodInterceptor"></listener>
		<listener class-name="com.rs.listeners.AnnotationTransforner"></listener>
	</listeners>
  <test thread-count="1" name="Test">
    <classes>
      <class name="com.rs.testcases.LoginPageTests"/>
         <class name="com.rs.testcases.AmazonDemoTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->